@font-face {
  font-family: bold;
  src: url(/fonts/bold.woff2);
}
@font-face {
  font-family: regular;
  src: url(/fonts/regular.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  // height: 100%;
  width: 100%;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

@mixin flex-column($gap:0rem) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

// ---NAVBAR--- //
nav {
  width: 100%;
  padding: 20px;
  background-color: #bc032d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.274);
}
.logo > img {
  width: 80%;
}

.menu-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  .cart {
    border-radius: 12px;
    font-size: 1.3rem;
    padding: 8px;
    background-color: #fff;
  }
  .menu {
    font-weight: 800;
    color: #fff;
    font-size: 1.5rem;
  }
}

// ---HERO-SECTION--- //

section.hero {
  width: 100%;
  height: 40vh;
  background-color: #bc032d;
  font-family: bold;
  color: white;
  position: relative;
  overflow: hidden;

  .title {
    padding-top: 15px;
    text-align: center;

    h1{
      font-size: 2.5rem;
    }
  }
  .overlays {
    .overlay-images {
      height: 170px;
      position: absolute;
    }
    .can-Y {
      bottom: -8%;
      left: 50%;
      transform: translateX(-50%);
      transform: rotate(20deg);
    }
    .can-G {
      bottom: -8%;
      left: 28%;
      transform: translateX(-50%);
      transform: rotate(-20deg);
    }
    .line {
      width: 100%;
      top: 50%;
    }
    .water {
      height: 85%;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

// ---PRODUCT-SECTION--- //

section.products {
  height: 70vh;
  width: 100%;
  background-color: #fff3e8;
  padding-top: 48px;

  .cards {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;

    .card {
      height: 100%;
      width: 100%;
      // background-color: #797979;
    }

    .card1 {
      @include flex-column(0.5rem);

      .card-image1 {
        padding: 20px;
        height: 80%;
        width: 90%;
        background-image: url(https://cdn.prod.website-files.com/687b1e267be119aa2f7eade5/68b7c72bb51ce6bfa20b0800_product-category5-bg.avif);
        background-size: cover;
        background-position: center;
        border-radius: 20px;
        @include flex-column(0rem);

        img {
          height: 100px;
        }
      }
      .text1 {
        white-space: nowrap;
        font-size: 1.2rem;
      }
    }
    .card2{
       @include flex-column(0.5rem);

       .card-image2 {
        padding: 20px;
        height: 80%;
        width: 90%;
        background-image: url(https://cdn.prod.website-files.com/687b1e267be119aa2f7eade5/68b7c77e1f8816fc1fae5922_product-category4-bg.avif);
        background-size: cover;
        background-position: center;
        border-radius: 20px;
        @include flex-column(0rem);

        img {
          height: 100px;
        }
      }
      .text2 {
        white-space: nowrap;
        font-size: 1.2rem;
      }
    }
    .card3{
       @include flex-column(0.5rem);


       .card-image3 {
        padding: 20px;
        height: 80%;
        width: 90%;
        background-image: url(https://cdn.prod.website-files.com/687b1e267be119aa2f7eade5/68a5b054748a32f45f0ad935_grapes_image.png);
        background-size: cover;
        background-position: center;
        border-radius: 20px;
        @include flex-column(0rem);

        img {
          height: 100px;
        }
      }
      .text3 {
        white-space: nowrap;
        font-size: 1.2rem;
      }
    }
    .card4{
       @include flex-column(0.5rem);


       .card-image4 {
        padding: 20px;
        height: 80%;
        width: 90%;
        background-image: url(https://cdn.prod.website-files.com/687b1e267be119aa2f7eade5/68b7c71223b7f3f89aefa218_product-category3-bg.avif);
        background-size: cover;
        background-position: center;
        border-radius: 20px;
        @include flex-column(0rem);

        img {
          height: 100px;
        }
      }
      .text4 {
        white-space: nowrap;
        font-size: 1.2rem;
      }
    }
    .card5{
       @include flex-column(0.5rem);


       .card-image5 {
        padding: 20px;
        height: 80%;
        width: 90%;
        background-image: url(https://cdn.prod.website-files.com/687b1e267be119aa2f7eade5/68b7c4e19ff7f2820991e1d1_product-category1-bg.avif);
        background-size: cover;
        background-position: center;
        border-radius: 20px;
        @include flex-column(0rem);

        img {
          height: 100px;
        }
      }
      .text5 {
        white-space: nowrap;
        font-size: 1.2rem;
      }
    }

  }
}



// ---RESPONSIVE CODE OF HERO-SECTION--- //

// --- TAB --- //

@media (min-width: 770px){

//---HERO_SECTION_RESPONSIVE ---//

    section.hero{
      height: 75vh;

      .title>h1{
        font-size: 4rem;
      }
      .title>h1>span{
        color: #ffffff;
        // -webkit-text-stroke: 1px rgb(255, 255, 255);
      }

    }



//---PRODUCT_SECTION_RESPONSIVE ---//

    section.products>.cards{
      grid-template-columns: repeat(3, 1fr);
    }
}


// --- DESKTOP --- //

@media (min-width: 1000px){

//---HERO_SECTION_RESPONSIVE ---//

    section.hero{

      .title>h1{
        font-size: 8rem;
      }
    }

    //---PRODUCT_SECTION_RESPONSIVE ---//

    section.products>.cards{
      grid-template-columns: repeat(5, 1fr);
    }
}