@font-face {
    font-family: bold;
    src: url(/fonts/bold.woff2);
}
@font-face {
    font-family: regular;
    src: url(/fonts/regular.woff2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;

    nav{
        height: 15%;
        width: 100%;
        background-color: #bc032d;
        display: flex;
        justify-content: space-between;

        
        .img-logo{
            width: 50%;
            display: flex;
            align-items: center;

            img{
                height: 50%;
                margin-left: 10px;
            }
        }

        .icons{
            height: 100%;
            width: 50%;
            display: flex;
            justify-content: end;
            align-items: center;

            .cart{
                height: 70%;
                width: 20%;
                background-color: #fff;
                border-radius: 15px;
                display: flex;
                justify-content: center;
                align-items: center;

                i{
                    font-size: 26px;
                }
            }
            .menu-icon{
                height: 100%;
                width: 30%;
                display: flex;
                justify-content: center;
                align-items: center;

                i{
                    color: white;
                    font-size: 28px;
                }
            }
        }
    }
    .view1{
        border-top: 1px solid rgb(143, 142, 142);
        width: 100%;
        height: 90%;
        background-color: #bc032d;
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        

        .title{
            height: 25%;
            width: 80%;
            // background-color: #2bfa58;
            font-family: bold;
            text-align: center;
            color: white;

            .title1{
                margin-top: 10px;
            }



        }
        .cane-img{
            height: 75%;
            width: 100%;
            position: relative;

            .cane{
                height: 100%;
                width: 100%;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: end;
                top: 10%;

                .cane, img{
                    z-index: 1;
                    height: 50%;
                }
                #can1{
                    transform: rotate(-20deg);
                }
                #can2{
                    transform: rotate(20deg);
                }
                 }
                #water{
                    z-index: 0;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                }
                #line{
                    width: 100vw;
                    top: 55%;
                    z-index: 0;
                    position: absolute;
                }
            
        }

    }
    .view2{
        width: 100%;
        height: 100%;
        background-color: #962bfa;
    }
}