@font-face {
  font-family: bold;
  src: url(/fonts/bold.woff2);
}
@font-face {
  font-family: regular;
  src: url(/fonts/regular.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

@mixin flex-column() {
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  height: 100%;
  background-color: aquamarine;

  section.view1 {
    width: 100%;
    height: 100vw;
    background-color: black;

    .navbar {
      width: 100%;
      height: 8vh;
      background-color: #bc032d;
      display: flex;
      border-bottom: 1px solid rgba(255, 255, 255, 0.781);

      .logo {
        width: 50%;
        height: 100%;
        // background-color: rgb(63, 38, 0);
        display: flex;
        // justify-content: center;
        align-items: center;

        img {
          padding-left: 30px;
          height: 45%;
        }
      }
      .menu-cart {
        width: 50%;
        height: 100%;
        // background-color: blueviolet;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 10px;

        .cart {
          width: 20%;
          height: 50%;
          background-color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.3rem;
          border-radius: 10px;
        }
        .menu {
          width: 20%;
          height: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.3rem;
          font-weight: 800;
          color: white;
        }
      }
    }

    .hero-section {
      height: 100vw;
      background-color: #bc032d;

      .title {
        // height: 25%;
        background-color: #bc032d;
        text-align: center;
        font-family: bold;
        color: white;
      }
      .visuals {
        height: 75vw;
        background-color: #bc032d;
        position: relative;
        display: flex;

        .line {
          width: 100%;
        }
        .water {
          height: 100%;
          position: absolute;
        }
        .canP {
          position: absolute;
          width: 100%;
          height: 100%;
          // background-color: #bc032d;
          overflow: hidden;

          .can {
            width: 100%;
            height: 100%;
            // background-color: #012c18;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: end;

            .cc {
              height: 55%;
            }

            .can1 {
              position: absolute;
              right: 52%;
              bottom: -20px;
              transform: rotate(-20deg);
            }
            .can2 {
              position: absolute;
              left: 52%;
              bottom: -20px;
              transform: rotate(20deg);
            }
          }
        }
      }
    }
  }
  section.view2 {
    height: 100vw;
    background-color: #000000;
  }
}
